<section id="articlebody">
	<div class="post">
    <h2><%= @post.title %></h2>
    <h2><%= @post.a_name %></h2>
    <h2><%= image_tag @post.image_url %></h2>
    <h2><%= @post.content %><h2>
    </div>
</section>

